* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
}

#root {
  position: relative;
}

body button:not(:disabled) {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

body label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.hello {
  border: 1px solid red;
  /*left: 109px; */
  top: 500px;
  /*position:static;*/
  /*text-align: center;*/
  color: black;
  font-size: 64px;
  font-family: Jost;
  font-weight: 400;
  /*word-wrap: break-word;*/
  width: 1514px;

}

.helloA {
  border: 1px solid red;
  /*left: 109px;*/
  top: 500px;
  position: absolute;
  /*text-align: center;*/
  /*color: black; 
   font-size: 32px;*/
  font-family: Jost;
  font-weight: 400;
  /*word-wrap: break-word;*/
  width: 900px;
}

.hello2 {
  border: 1px solid red;
  /*left: 109px;*/
  top: 500px;
  position: absolute;
  /*text-align: center;*/
  color: black;
  font-size: 32px;
  font-family: Jost;
  font-weight: 400;
  /*word-wrap: break-word;*/
  width: 900px;
}

.contactme {
  border: 1px solid red;
  left: 1260px;
  top: 44px;
  position: absolute;
  color: white;
  font-size: 36px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  width: 200px;

}

.hello3 {
  border: 1px solid red;
  /*left: 109px;*/
  top: 235px;
  position: absolute;
  /*text-align: center;*/
  color: black;
  font-size: 64px;
  font-family: Jost;
  font-weight: 400;
  /*word-wrap: break-word;*/
  width: 900px;
}

.hello4 {
  border: 1px solid red;
  /*left: 109px;*/
  top: 235px;
  position: absolute;
  /*text-align: center;*/
  color: black;
  font-size: 64px;
  font-family: Jost;
  font-weight: 400;
  /*word-wrap: break-word;*/
  width: 900px;
}